:root {
    --grid-size: 80vmin;
    --grid-cell-size: 100%;
    --grid-lines-color: red;
    --grid-lines-width: 1vmin;
    --bg-grid-lines-color: lightblue;
    --bg-grid-lines-width: 20px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.grid-lines {
    background-image: linear-gradient(to right, var(--bg-grid-lines-color) 1px, transparent 1px), linear-gradient(to bottom, var(--bg-grid-lines-color) 1px, transparent 1px);
    background-size: var(--bg-grid-lines-width) var(--bg-grid-lines-width);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid {
    width: var(--grid-size);
    height: var(--grid-size);
    display: grid;
    grid-template-columns: repeat(3, calc(var(--grid-size) / 3));
    grid-template-rows: repeat(3, calc(var(--grid-size) / 3));
}

.cell {
    box-sizing: border-box;
    display: block;
    height: var(--grid-cell-size);
    width: var(--grid-cell-size);
}

.cell:nth-child(3n+2) {
    border-left-color: var(--grid-lines-color);
    border-left-width: var(--grid-lines-width);
    border-left-style: solid;
    border-right-color: var(--grid-lines-color);
    border-right-width: var(--grid-lines-width);
    border-right-style: solid;
}

.cell:nth-child(n+4):nth-child(-n+6) {
    border-top-color: var(--grid-lines-color);
    border-top-width: var(--grid-lines-width);
    border-top-style: solid;
    border-bottom-color: var(--grid-lines-color);
    border-bottom-width: var(--grid-lines-width);
    border-bottom-style: solid;
}