html {
  --bg-color-primary: lightblue;
  --bg-color-secondary: white;
  --fg-color: black;
  --grid-lines-color: red;
  --cross-stroke-color: blue;
  --circle-stroke-color: red;
  --result-modal-bg-color: rgba(0, 0, 0, 0.5);
  --result-modal-content-bg-color: white;
  --grid-size: 80vmin;
  --grid-cell-size: 100%;
  --grid-cell-size-vp: calc(var(--grid-size) / 3);
  --grid-lines-width: 1vmin;
  --bg-grid-lines-width: 20px;
  --grid-lines-size: calc(var(--grid-cell-size-vp) + var(--grid-lines-width));
  --result-modal-bg-blur-radius: 4px;
  --result-modal-content-padding: 1vmin;
}

html[data-theme='dark'] {
  /* --bg-color-primary: rgb(30, 30, 40); */
  /* --bg-color-primary: rgb(20, 20, 20); */
  --bg-color-primary: black;
  --bg-color-secondary:  #121212;
  --fg-color: white;
  --cross-stroke-color: #94b6ff;
  --circle-stroke-color: #ff9191;
  --grid-lines-color: rgb(202, 169, 62);
  --result-modal-bg-color: rgba(58, 58, 58, 0.5);
  --result-modal-content-bg-color: black;
}

html, body {
  background-color: var(--bg-color-secondary);
  color: var(--fg-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#cross line {
  stroke: var(--cross-stroke-color);
}

#circle {
  stroke: var(--circle-stroke-color);
}

.grid-lines {
  background-image:
    linear-gradient(to right, var(--bg-color-primary) 1px, transparent 1px), 
    linear-gradient(to bottom, var(--bg-color-primary) 1px, transparent 1px);
  background-size: var(--bg-grid-lines-width) var(--bg-grid-lines-width);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-horizontally {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

#online-controls {
  margin: 0.75rem;
}

#switchTheme {
  position: absolute;
  top: 1%;
  right: 1%;
}

#grid {
  z-index: 1;
  position: relative;
  width: var(--grid-size);
  height: var(--grid-size);
  display: grid;
  grid-template-columns: repeat(3, calc(var(--grid-size) / 3));
  grid-template-rows: repeat(3, calc(var(--grid-size) / 3));
  gap: var(--grid-lines-width);
}

#grid::before {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: " ";
  background-size: var(--grid-lines-size) var(--grid-lines-size);
  background-image: 
    linear-gradient(to bottom, transparent var(--grid-cell-size-vp), var(--grid-lines-color) var(--grid-lines-width)),
    linear-gradient(to right, transparent var(--grid-cell-size-vp), var(--grid-lines-color) var(--grid-lines-width));
  background-position: top left;
  animation: gridWipe 1s linear;
}

@keyframes gridWipe {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

.cell {
  display: block;
  height: var(--grid-cell-size);
  width: var(--grid-cell-size);
}

#modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--result-modal-bg-color);
  backdrop-filter: blur(var(--result-modal-bg-blur-radius));
}

#modal-content {
  background-color: var(--result-modal-content-bg-color);
  padding: var(--result-modal-content-padding);
}

#modal .center {
  width: 100%;
  height: 100%;
}